
body {
    align-content: center;
    text-align: center;
    font-family: Arial;
    height: 100rem;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0e4f7', endColorstr='#87bcea', GradientType=0); /* IE6-9 */

}

header {
    display: inline-block;
    border-style: solid;
    max-width: 50rem;
}

.searchWeather {
    margin-top: 5rem;
}

.currentWeather {
    margin-top: 5rem;
    display: inline-block;
    width: 20rem;
    height: 5rem;
    border: 1px solid blue;
    box-sizing: border-box;
}

.favourites {
    margin-top: 5rem;
    display: inline-block;
    width: 20rem;
    height: 5rem;
    border: 1px solid cyan;
    box-sizing: border-box;
}

.worse {
    margin-top: 5rem;
}

.worseWeather {
    margin-top: 5rem;
    display: inline-block;
    width: 20rem;
    height: 5rem;
    border: 1px solid blue;
    box-sizing: border-box;
}

.twitter {
    margin-top: 5rem;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 1px solid blue;
    box-sizing: border-box;
}

#temp {
/ / text-align: left;
/ / text-indent: 1.3 rem;
}